h1 {
    font-family: "Roboto Slab", serif;
    font-size: 2.5em;
    font-weight: 700;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-size: 2em;
    font-weight: 700;
    margin-left: 0;
    margin-right: 0;
}

p {
    font-family: "Roboto Slab", serif;
    font-size: 1.2em;
    font-weight: 400;
}

.container {
    padding: 0 30px;
    max-width: 894px;
}

.no-margin {
    margin: 0;
}

.card {
    border: double #3C55CC;
    border-width: 10px 0px 10px 0px;
    border-image: url(images/border.png) 25% repeat;
    margin: auto;
    padding-top: 30px;
    max-width: 800px;
    min-height: 400px;
}

.project {
    margin: 10px auto;
    max-width: 800px;
    min-height: 400px;
}

.project-description {
    font-size: 1em;
    padding: 0;
}

.stamp {
    height: 92px;
}

.welcome {
    color: #3C55CC;
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0.8em;
    margin-bottom: 1em;
}

.passport-stamp {
    margin: 5px;
    height: 100px;
}

.copyright {
    font-size: 0.8em;
    margin-top: 15px;
}
